@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes soft_show {
  0% {
    transform: scale(0.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes soft_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}

.pulse {
  transform-origin: 70% 170%;

  animation-name: pulse_animation;
  animation-duration: 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.soft-show {
  animation-name: soft_show;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

.soft-hide {
  animation-name: soft_hide;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
