.footer-feedback__tel {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  font-weight: 400;
  font-size: 24px;
  font-family: "Rubik";
  color: #000000;
}

.foooter-feedback__requisites {
  margin: 0;
  margin-top: 12px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Rubik";
  color: #000000;
}

.footer-feedback__copyright {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-weight: 400;
  line-height: 18px;
  font-family: "Rubik";
  color: #999999;
}

.footer-feedback__heart {
  line-height: 18px;
  color: #ff5a79;
}
