label {
  user-select: none;
}

.form-order {
  position: relative;

  width: 280px;
  height: 386px;
  margin-left: auto;
  padding: 30px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);

  @media (max-width: $desktop) {
    margin-left: 0;
  }
  > div {
    position: relative;
  }
}

.form-order__modal {
  position: absolute !important;
  top: 48px;
  left: -140px;

  width: 148px;
  height: 290px;

  font-weight: 400;
  font-size: 14px;
  font-family: Rubik;
  color: #ffffff;

  background-color: #ec343c;
  border-radius: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 117px;
    right: -30px;

    width: 11px;
    height: 20px;

    border: 20px solid transparent;
    border-left: 20px solid #ec343c;
  }

  &--hide {
    display: none;
  }

  @media (max-width: $desktop) {
    top: -300px;
    left: 60px;

    &::after {
      top: 98%;
      right: 50%;

      border: 20px solid transparent;
      border-top: 20px solid #ec343c;
      transform: translateX(50%);
    }
  }
}

// .form-order__check-in,
// .form-order__check-out {
//   width: 100;
// }

.form-order__check-in {
  position: relative;

  height: 40px;
  margin-bottom: 12px;

  border-bottom: 1px solid #c5c5c5;
  cursor: pointer;

  & label {
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 10;
    // width: 220px;

    padding-right: 200px;

    font-weight: 400;
    font-size: 14px;
    font-family: "Rubik";
    color: #666666;

    cursor: pointer;
  }
}

.form-order__check-out {
  height: 40px;

  cursor: pointer;
  & label {
    font-size: 14px;
    cursor: pointer;
  }
}

.form-order__chek-in--default,
.form-order__check-out--default {
  position: relative;
  // z-index: 1;

  width: 220px;
  height: 40px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  color: transparent;

  border: none;
}

.form-order__input--style {
  position: absolute;
  top: -5px;
  left: 0;
  // z-index: 5;
  // width: 220px;

  width: 100%;
  height: 40px;
  padding-right: 45px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  text-align: end;
  color: #ed343c;

  border: none;
  outline: none;

  &::after {
    content: "";
    position: relative;

    width: 24px;
    height: 24px;
  }
}

.form-order__check-out {
  position: relative;
  // margin-top: 10px;

  & label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    // width: 220px;

    padding-right: 200px;

    font-weight: 400;
    // font-size: 14px;
    font-family: "Rubik";
    color: #666666;
  }
}

.form-order__check-in--modal,
.form-order__check-out--modal {
  & label {
    font-size: 12px;
  }
}

.form-order__icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  fill: #ec343c;

  &--modal {
    right: -10px;
  }
}

.form-order__guest {
  position: relative;
  // width: 100%;

  margin-top: 52px;
  margin-bottom: 20px;
  padding-left: 65px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  color: #666666;
}

.form-order__guest-all {
  position: relative;
  z-index: 1;

  width: 20px;
  margin-left: 15px;

  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto Slab";
  color: #ec343c;

  background-color: transparent;
  border: none;
  outline: none;
}

.form-order__guest-label {
  position: absolute;
  top: -35px;
  left: 38px;
  // z-index: 10;

  width: 100%;
}

.form-order__guest-button {
  @include btn-reset();

  width: 24px;
  height: 24px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Slab";
  color: #ec343c;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;

  &--plus {
    margin-left: 3px;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #ec343c;
    outline: none;
  }
}

.form-order__name-input,
.form-order__tel-input {
  width: 100%;
  padding-bottom: 8px;

  border: none;
  border-bottom: 1px solid #c5c5c5;


  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    font-family: Rubik;
    color: #666666;

    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border-color: #ec343c;
    outline: none;
  }
}

.form-order__tel-input {
  margin-top: 20px;

}

.form-order__button {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;

  background-color: #ec343c;

  &:hover,
  &:focus {
    background-color: #c71019;
    border-color: #c71019;
  }

  .preloder {
    display: none;
  }


}

.is-loading .form-order__button {
  .preloder {
    display: block;
  }
  .text {
    display: none;
  }
}

.form-alert {
  display: block;
  margin-top: 25px;
}

.form-order__title {
  @include MD-reset();

  margin-top: 30px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto Slab";
  text-align: center;
  color: #000000;
}

.form-order__input--modal {
  left: -17px;
  // padding-left: 20px;

  padding: 0;

  font-size: 12px;

  outline: none;
}

.form-order__guest--modal {
  padding-left: 35px;

  & label {
    left: 15px;
  }

  @media (max-width: $desktop) {
    margin-top: 30px;
    margin-left: auto;
    padding-left: 0;

    text-align: center;

    & label {
      left: 0;
    }
  }
}

.form-order__price {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-right: 40px;
  // width: 70px;
  padding-left: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  font-family: "Rubik";
  text-align: center;
  color: #666666;

  @media (max-width: $desktop) {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.form-order__price-title {
  @include MD-reset();

  &  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Roboto Slab";
    color: #000000;
  }
}

.form-order__price-all {
  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  color: #ec343c;

  & span {
    font-weight: 500;
    font-size: 24px;
  }
}

.form-order__price-person {
  & span {
    font-weight: 500;
  }
}

.form-order__button--modal {
  width: 145px;

  font-weight: 400;
  font-size: 15px;
  line-height: 12.88px;
  font-family: "Rubik";
  color: #ec343c;

  background-color: #ffffff;

  @media (max-width: $desktop) {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

// .modal-guest__bed-checkbox {
//   width: 16px;
// }

.has-error {
  border-bottom-color: #c71019 !important;
}

.has-success {
  border-bottom-color: #10c72c !important;
}

.form-field__alert {
  position: absolute;
  color: #c71019;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  /* background-color: #fff; */
  z-index: 1;
  margin-top: -3px;
  line-height: 1;
}

.form-order__check-out .form-field__alert,
.form-order__check-in .form-field__alert
{

}
