.main-review {
  position: relative;

  margin-top: 63px;
  padding-bottom: 70px;

  @media (max-width: $desktop) {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.main-review__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  text-align: center;
  color: #000000;
}

.main-review__slider {
  position: relative;
  // z-index: 1;
  // display: flex;
  // justify-content: space-between;
  // width: 1070px;
  // margin-left: 40px;
  // margin: 0 auto;
  // margin-left: 35px;

  overflow: hidden;
}

.main-review__slider-container {
  width: 1140px;
  // margin-left: 15px;
  // overflow: hidden;

  @media (max-width: $desktop) {
    width: 320px;
    margin-left: 7px;
  }
}

.main-review__list {
  @include list-reset();
  // padding-right: 30px;
  // position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-content: center;
  // align-items: center;
  // width: 80%;

  width: 1200px;
  padding: 20px;
  // overflow: hidden;

  // padding: 3px;
}

.main-review__item {
  width: 334px;
  // margin-right: 20px;
  // margin-left: 20px;
  // height: 500px;
  // padding-left: 5px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
}

.main-review__button {
  @include btn-reset();

  position: absolute;
  top: 240px;
  right: 0;
  // left: -20px;
  z-index: 10;

  align-self: center;
  width: 24px;
  height: 100%;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  // color: #ffffff;

  color: transparent;

  background-color: #ed343c;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;

  transition: 0.2s linear;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 2;

    width: 10px;
    height: 10px;

    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    // border-radius: 1px;
    border-bottom-right-radius: 1px;
    transform: rotate(-45deg);
  }

  &--back {
    left: 0;

    &::before {
      left: 8px;

      transform: rotate(135deg);
    }
  }

  &:hover,
  &:focus {
    // color: #ed343c;
    background-color: #ffffff;
    &::before {
      border-color: #ed343c;
    }
  }
}

.card-review {
  min-height: 365px;
  // margin: 20px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}
// }

.card-review__header {
  display: flex;
  // flex-wrap: wrap;
  margin-bottom: 26px;
}

.card-review__avatar {
  width: auto;
  // width: 90px;
  // height: auto;
  height: 110px;
  margin: 0;
  margin-right: 18px;
}

.card-review__col {
  display: flex;
  flex-direction: column;
}

.card-review__name {
  margin: 0;
  margin-top: 4px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #000000;
}

.card-review__town {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
}

.card-review__button {
  display: block;
  width: 140px;
  height: 34px;

  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  font-family: "Rubik";
  text-align: center;
  color: #cccccc;

  background-color: #f6f6f6;
  border-color: #f6f6f6;
  border-radius: 5px;
}

.card-review__main {
  font-weight: 400;
  font-size: 16px;
  // line-height: 19px;
  font-family: "Rubik";
  color: #666666;
}

.card-review__title {
  max-height: 20px;
  margin-bottom: 0;
  overflow: hidden;

  font-weight: 500;
  font-size: 17px;
}

.card-review__text {
  margin: 8px auto;
}

.card-review__col--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}
