.main-corporativ {
  margin-top: 68px;
  margin-bottom: 30px;

  @media (max-width: $desktop) {
    margin-top: 30px;
    margin-bottom: 5px;
  }
}

.main-corporativ__title {
  // margin-top: 43px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  text-align: center;
  color: #000000;

  @media (max-width: $desktop) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.main-corporativ__cards {
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    flex-direction: column;
  }
}

.main-corporativ__colum {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);

  @media (max-width: $desktop) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.main-corporativ__description {
  font-weight: 400;
  font-size: 16px;
  font-family: "Rubik";
  color: #666666;
}

.card-corporativ {
  width: 100%;
  min-height: 160px;
  padding-top: 34px;
  padding-left: 40px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);

  &--guest {
    position: relative;

    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: 0;

      width: 100%;
      height: 160px;

      background-image: url("../img/train.png");
      background-repeat: no-repeat;
      background-position: right 0;

      @media (max-width: $desktop) {
        height: 100%;

        background-position: 140px bottom;
        background-size: contain;
        opacity: 0.8;
      }
    }
  }

  &--partner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -12px;
      right: -4px;

      width: 100%;
      height: 172px;

      background-image: url("../img/talk.png");
      background-repeat: no-repeat;
      background-position: right 0;

      @media (max-width: $desktop) {
        top: 0;

        height: 100%;

        background-position: 140px bottom;
        background-size: contain;
        opacity: 0.8;
      }
    }
  }

  @media (max-width: $desktop) {
    height: 100%;
    min-height: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

.card-corporativ__title {
  @include MD-reset();

  position: relative;
  // margin-top: 35px;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #000000;

  @media (max-width: $desktop) {
    font-size: 20px;
  }
}



.card-corporativ__description {
  @include MD-reset();

  max-width: 260px;
  margin-top: 18px;

  @media (max-width: $desktop) {
    position: relative;
    z-index: 0;

    max-width: 200px;

    font-size: 15px;
    color: #000000;
  }

  // line-height: 24px;
}

.location-card {
  position: relative;

  height: 100%;
  padding-top: 32px;
  padding-left: 40px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 319px;
    height: 350px;

    background-image: url("../img/moscow.png");
    background-repeat: no-repeat;

    @media (max-width: $desktop) {
      height: 100%;

      background-position: 160px bottom;
      background-size: contain;
      opacity: 0.8;
    }
  }

  @media (max-width: $desktop) {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;

    line-height: 1.1;
    color: #000000;
  }
}

.location-card__title {
  max-width: 260px;
  margin: 0;
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #000000;

  @media (max-width: $desktop) {
    margin-bottom: 15px;
  }
}

.location-card__list {
  @include list-reset();

  padding-left: 14px;
  padding-left: 19px;

  list-style-image: url("../img/ok.png");
}

.location-card__item {
  position: relative;

  max-width: 220px;
  margin-bottom: 16px;
  padding-left: 6px;

  @media (max-width: $desktop) {
    max-width: 200px;
    margin-bottom: 14px;
  }

  // line-height: 24px;

  // &::before {
  //   content: "✓";
  //   position: absolute;
  //   top: 0;
  //   left: -15px;

  //   width: 10px;
  //   height: 10px;

  //   color: red;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 13px;
  //   left: -11px;

  //   width: 10px;
  //   height: 10px;

  //   border-left: 2px solid red;
  //   // transform: rotateY(90deg);
  // }
}
