.main-navigation__list {
  @include list-reset();

  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  padding-left: 21px;
}

.main-navigation__link {
  height: 100%;
  padding-bottom: 2px;

  line-height: 20px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #ec343c;
  }
}
