.modal-guest {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  color: #ffffff;

  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }

  & input {
    width: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    font-family: "Roboto Slab";
    text-align: center;
    color: #ffffff;

    background-color: #ec343c;
    border: none;
  }

  & label {
    text-align: center;
  }
}

.modal-guest__button {
  width: 24px;
  height: 24px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Slab";
  color: #ec343c;

  background-color: #ffffff;
  border: none;
  border-color: #ec343c;
  border-radius: 50%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
}

.modal-guest__adult {
  text-align: center;
}

.modal-guest__children {
  text-align: center;
  & label {
    display: inline-block;
    width: 90px;
  }
}

.modal-guest__bed {
  position: relative;

  text-align: center;

  & input {
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.modal-guest__bed-yes {
  display: inline-block;
  padding-top: 24px;
  &::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 17px;

    width: 24px;
    height: 24px;

    background-color: #ffffff;
    border-radius: 5px;;
  }
}

.modal-callback__policy:checked + label::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 20px;

  width: 16px;
  height: 12px;

  background-image: url("../../img/ok2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
