.page-header__container {
  position: relative;

  display: flex;
  margin-top: 34px;

  @media (max-width: $desktop) {
    flex-direction: column;
    margin-top: 15px;
  }
}

.page-header__panel {
  position: relative;

  width: 940px;

  @media (max-width: $desktop) {
    max-width: 320px;
  }
}

.page-header__info {
  display: flex;
  justify-content: flex-end;
  // width: 100%;
  padding-bottom: 28px;

  border-bottom: 1px solid #bcbcbc;

  @media (max-width: $desktop) {
    flex-direction: column;
    // flex-wrap: wrap;
    height: 200px;
  }
}

.page-header__achievement {
  position: relative;

  max-width: 250px;
  margin-left: 66px;
  padding-top: 6px;
  padding-left: 72px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik";
  color: #666666;

  & .text--red,
  & .text--bold {
    font-weight: 500;
    color: #ec343c;
  }

  &--client {
    padding-left: 25px;
  }

  @media (max-width: $desktop) {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 25px;

    &--client {
    }
  }
}

.page-header__icon {
  position: absolute;
  top: 14px;
  left: -15px;

  width: 25px;
  height: 25px;

  fill: #ec343c;

  &--star {
    left: 34px;

    @media (max-width: $desktop) {
      left: -14px;
    }
  }
}

.page-header__main-logo {
  position: absolute;
  left: 20px;

  @media (max-width: $desktop) {
    position: relative;
    right: 0;
    left: 0;

    width: 100%;

    // text-align: center;
  }
}

.page-header__callback {
  width: 230px;
  padding-left: 34px;

  @media (max-width: $desktop) {
    width: 100%;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 0;

    text-align: center;

    border-top: 1px solid #bcbcbc;
  }
}

.callback__tel {
  margin: 0;
  padding: 0;
  padding-top: 3px;

  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-family: "Rubik";
  color: #000000;

  @media (max-width: $desktop) {
    font-size: 28px;
  }
}

.callback__text {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 10px;

  font-weight: 400;
  font-size: 12px;
  font-family: Rubik;
  color: #000000;

  opacity: 0.5;

  @media (max-width: $desktop) {
    margin-top: 5px;

    font-size: 15px;
  }
}
.callback__button {
  @media (max-width: $desktop) {
    width: 100%;

    font-size: 18px;
  }
}

.page-header__navigation-button {
  position: absolute;
  top: 10px;
  right: 10px;

  display: none;

  @media (max-width: $desktop) {
    display: block;
    width: 40px;
    height: 40px;

    color: transparent;

    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;

    &--open {
      background-image: url("../img/icon-menu-close.svg");
    };

    &--close {
      background-image: url("../img/icon-menu-open.svg");
    }
  }
}
