.room {
  position: relative;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);

  @media (max-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
  }
}

.room__photos {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;
  height: 215px;
  margin-bottom: 10px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-content: center;
    height: auto;
    margin-bottom: 10px;
  }
}

.room__big-photo {
  flex-shrink: 0;
  width: 316px;
  height: 100%;
  max-height: 200px;
  // margin-right: 30px;
  margin-right: 10px;

  border-radius: 5px;

  @media (max-width: $desktop) {
    width: 300px;
    height: auto;
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
    padding: 0;

    background-size: cover;

    resize: vertical;
    // width: 300px;
    // height: auto;
    // max-height: 180px;

    object-fit: cover;
  }
}

.room__big-jmg {
  max-height: 200px;

  border-radius: 5px;

  object-fit: cover;
}

.room__small-photos {
  @include list-reset();

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 215px;
  overflow-x: visible;
  overflow-y: auto;

  @media (max-width: $desktop) {
    margin-top: 10px;
    // margin-left: 25px;
  }
}

.room__small-photo {
  width: 84px;
  height: 56px;
  margin-bottom: 12px;
  margin-left: 12px;

  background-color: #ed474e;
  border-radius: 5px;

  @media (max-width: $desktop) {
    // margin-left: 20px;
  }
}

.room__photo-link {
  display: flex;
  width: 100%;
  height: 100%;

  user-select: none;

  & img {
    width: 100%;
    height: 100%;

    border-radius: 5px;

    object-fit: cover;
  }
}

.room__title {
  max-height: 40px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto Slab";
  text-align: center;
  color: #000000;

  @media (max-width: $desktop) {
    font-size: 20px;
  }
}

.room__adress {
  max-height: 36px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  overflow: hidden;

  font-weight: 400;
  font-size: 16px;
  font-family: "Rubik";
  text-align: center;
  color: #666666;
}

.room__features {
  @include MD-reset();

  border-top: 1px solid #bcbcbc;
}

.room__small-button {
  @include btn-reset();

  position: absolute;
  top: 17px;
  left: 42px;

  display: none;
  width: 24px;
  height: 24px;

  line-height: 24px;
  color: #ffffff;

  background-color: #ed343c;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;

  transition: 0.2s linear;


  &--back {
    left: 0;
  }

  &:hover,
  &:focus {
    color: #ed343c;

    background-color: #ffffff;
  }
}
