.rooms-order {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 1170px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.rooms-order__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.rooms-order__item {
  margin-bottom: 20px;
  margin-left: 30px;

  &:nth-child(4n+1) {
    margin-left: 0;
  }

  @media (max-width: $desktop) {
    margin: 0 auto;
    margin-bottom: 20px;
    &:nth-child(4n+1) {
      margin-left: auto;
    }
  }
}

.rooms-order__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  // display: none;
  // // width: 970px;

  margin: 0 auto;

  // background-color: #ffffff;


  &--show {
    display: block;
  }

  &--hide {
    display: none;
  }

  @media (max-width: $desktop) {
    position: fixed;

    overflow-x: hidden;
    overflow-y: auto;
  }
}

.rooms-order__overlay {
  &::before {
    content: "";
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: #ed474e;
    opacity: 0.9;
  }
}

.rooms-order__container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;

  width: 970px;
  height: 645px;

  transform: translateX(-50%) translateY(-50%);

  & .form-order__modal {
    top: 98px;
  }

  @media (max-width: $desktop) {
    width: 100%;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;

    & .form-order__modal {
      // top: -300px;
      top: -230px;
    }
  }
}

.rooms-modal__button--close {
  @include btn-reset();

  position: absolute;
  top: -30px;
  right: 70px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto Slab";
  color: #000000;

  cursor: pointer;

  @media (max-width: $desktop) {
    top: 8px;
    right: 10px;

    font-size: 17px;
  }
}

.rooms-slider__button {
  position: absolute;
  top: center;
  right: 0;

  width: 40px;
  height: 100%;

  &--back {
    left: 0;
  }
}

.rooms-order__preloader {
  position: absolute;

  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &--loading {
    display: flex;

    background-color: #dfdfdf;
    opacity: 0.8;
  }
}
