.social__title {
  @include MD-reset();

  margin-top: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik";
  color: #000000;

  @media (max-width: $desktop) {
    margin-top: 20px;
    margin-left: 30px;
  }
}

.social__list {
  @include list-reset();

  margin-top: 16px;
  margin-left: 15px;

  list-style-image: url("../img/arrow.png");

  @media (max-width: $desktop) {
    margin-left: 0;
  }
}

.social__item {
  margin-bottom: 5px;
  padding-top: 2px;
  padding-left: 10px;

  @media (max-width: $desktop) {
    margin-left: 38px;
    padding-left: 8px;
  }

  // &::before {
  //   content: "→";

  //   width: 10px;

  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 34px;
  //   font-family: "Minion Pro";
  //   color: #ec343c;
  // }
}
